name: 'test'
on: # test the github action in this repo  
  workflow_dispatch:

jobs:
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: ./
        id: run
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          dday-labels: "D-0,D-1,D-2,D-3,D-4"
      - run: echo "${{join(steps.run.outputs.*, '\n')}}"
